{% from "macros/parts/server_element.jinja2" import build_server_element %}

{% macro build_server_list(servers) %}
    <ul class="collection with-header">
        <li class="collection-header"><h4>Servers</h4></li>
        {% if servers|length > 0 %}
            {% for server in servers %}
                {{ build_server_element(server) }}
            {% endfor %}
        {% endif %}
    </ul>
{% endmacro %}
