{% extends "layout.jinja2" %}
{% block title %}Index{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12" id="server-list"></div>
    </div>
{% endblock %}